<div class="ui card">
<div class="image">
</div>
<div class="content">
<p class="header">
  <%= @board.name %>
</p>
<%= link_to "Add Song", new_board_song_path %>

<%= link_to "Show Songs", board_songs_path(@board, @songs) %>
<div class="extra content">
  <%= link_to 'Edit', edit_board_path(@board) %>
  <%= link_to 'View Billboards', boards_path %>
  </div>
</div>